_ctp_example_index:
    path:     /
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\HomeController::indexAction }

_ctp_example:
    path:     /product
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CatalogController::indexAction }

_ctp_example_product:
    path:    /product/slug/{slug}
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CatalogController::detailBySlugAction }

_ctp_example_product_by_id:
    path:    /product/id/{id}
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CatalogController::detailByIdAction }

_ctp_example_products_of_category:
    path:    /product/category/{categoryId}
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CatalogController::indexAction }

_ctp_example_product_categories:
    path:    /product/categories/
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CatalogController::getCategoriesAction }

_ctp_example_productTypes:
    path:    /product/productTypes/
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CatalogController::getProductTypesAction }

_ctp_example_products_of_productType:
    path:    /product/type/{productTypeId}
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CatalogController::indexAction }

login:
    path: /login
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\UserController::loginAction }

login_check:
    path: /login_check
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\UserController::loginAction }

logout:
    path: /logout

_ctp_example_user_details:
    path:    /user/details
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\UserController::detailsAction }

_ctp_example_user_address_book:
    path:    /user/address
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\UserController::addressBookAction }

_ctp_example_user_address_edit:
    path:    /user/address/edit/{addressId}
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\UserController::editAddressAction }

_ctp_example_cart:
    path: /cart
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CartController::indexAction }

_ctp_example_checkout_signin:
    path: /checkout/signin
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CheckoutController::signinAction }

_ctp_example_checkout_shipping:
    path: /checkout/shipping
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CheckoutController::shippingMethodAction }

_ctp_example_checkout_address:
    path: /checkout/address
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CheckoutController::setAddressAction }

_ctp_example_checkout_confirm:
    path: /checkout/address/confirm
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CheckoutController::reviewOrderDetailsAction }

_ctp_example_add_lineItem:
    path: /cart/add
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CartController::addLineItemAction }

_ctp_example_add_shoppingList_to_cart:
    path: /cart/add-shoppinglist
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CartController::addShoppingListToCartAction }

_ctp_example_change_lineItem:
    path: /cart/change
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CartController::changeLineItemAction }

_ctp_example_delete_lineItem:
    path: /cart/delete
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CartController::deleteLineItemAction }

_ctp_example_checkout_guest:
    path: /checkout/quest
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CheckoutController::setAddressAction }

_ctp_example_checkout_success:
    path: /checkout/success
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CheckoutController::successAction }

_ctp_example_checkout_payment:
    path: /checkout/success
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\PaymentController::createPaymentForCartAction }

_ctp_example_orders_all:
    path: /orders/
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\OrderController::indexAction }

_ctp_example_order:
    path: /orders/{orderId}
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\OrderController::showOrderAction }

_ctp_example_order_toCanceled:
    path: /orders/{orderId}/cancel
    defaults: {
      _controller: Commercetools\Symfony\ExampleBundle\Controller\OrderController::UpdateOrderAction,
      toState: 'toCanceled' }

_ctp_example_order_toCreated:
    path: /orders/{orderId}/created
    defaults: {
      _controller: Commercetools\Symfony\ExampleBundle\Controller\OrderController::UpdateOrderAction,
      toState: 'toCreated' }

_ctp_example_order_toPaid:
    path: /orders/{orderId}/payment
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\PaymentController::createPaymentForOrderAction }


_ctp_example_order_toReadyToShip:
    path: /orders/{orderId}/ready-to-ship
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\OrderController::updateOrderAction }

_ctp_example_payment_complete:
    path: /payment/{paymentId}/complete-payment
    defaults: {
      _controller: Commercetools\Symfony\ExampleBundle\Controller\PaymentController::updatePaymentAction,
      toState: 'toCompleted' }

_ctp_example_order_lineItem_update:
    path: orders/{orderId}/update
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\OrderController::updateLineItemAction }

_ctp_example_suggest:
    path: /suggest/{searchTerm}
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\CatalogController::suggestAction }

_ctp_example_shoppingList:
    path: /shoppinglist
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\ShoppingListController::indexAction }

_ctp_example_shoppingList_create:
    path: /shoppinglist/create
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\ShoppingListController::createAction }

_ctp_example_shoppingList_add_lineItem:
    path: /shoppinglist/add-lineitem
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\ShoppingListController::addLineItemAction }

_ctp_example_shoppingList_remove_lineItem:
    path: /shoppinglist/remove-lineitem
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\ShoppingListController::removeLineItemAction }
    methods: [POST]

_ctp_example_shoppingList_change_lineItem_quantity:
    path: /shoppinglist/change-lineitem-quantity
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\ShoppingListController::changeLineItemQuantityAction }
    methods: [POST]

_ctp_example_shoppingList_delete:
    path: /shoppinglist/delete/{shoppingListId}
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\ShoppingListController::deleteByIdAction }

_ctp_example_review_show:
    path: /product/{productId}/reviews
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\ReviewController::showReviewsForProductAction }

_ctp_example_review_update:
    path: /review/{reviewId}/update
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\ReviewController::UpdateReviewAction }

_ctp_example_review_create:
    path: /product/{productId}/reviews/create
    defaults: { _controller: Commercetools\Symfony\ExampleBundle\Controller\ReviewController::createReviewForProductAction }
    methods: [POST]
