<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="CtpBundle">
            <directory>./src/CtpBundle/Tests/</directory>
        </testsuite>
        <testsuite name="SetupBundle">
            <directory>./src/SetupBundle/Tests/</directory>
        </testsuite>
        <testsuite name="CustomerBundle">
            <directory>./src/CustomerBundle/Tests/</directory>
        </testsuite>
        <testsuite name="ShoppingListBundle">
            <directory>./src/ShoppingListBundle/Tests/</directory>
        </testsuite>
        <testsuite name="ReviewBundle">
            <directory>./src/ReviewBundle/Tests/</directory>
        </testsuite>
        <testsuite name="ExampleBundle">
            <directory>./src/ExampleBundle/Tests/</directory>
        </testsuite>
        <testsuite name="CatalogBundle">
            <directory>./src/CatalogBundle/Tests/</directory>
        </testsuite>
        <testsuite name="CartBundle">
            <directory>./src/CartBundle/Tests/</directory>
        </testsuite>
        <testsuite name="StateBundle">
            <directory>./src/StateBundle/Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/CtpBundle/</directory>
            <directory>./src/ShoppingListBundle/</directory>
            <directory>./src/CustomerBundle/</directory>
            <directory>./src/CartBundle/</directory>
            <directory>./src/ReviewBundle/</directory>
            <directory>./src/CatalogBundle/</directory>
            <directory>./src/SetupBundle/</directory>
            <directory>./src/ExampleBundle/</directory>
            <directory>./src/StateBundle/</directory>
            <exclude>
                <directory>./src/CtpBundle/Resources</directory>
                <directory>./src/CtpBundle/Tests</directory>
                <directory>./src/ShoppingListBundle/Resources</directory>
                <directory>./src/ShoppingListBundle/Tests</directory>
                <directory>./src/CustomerBundle/Resources</directory>
                <directory>./src/CustomerBundle/Tests</directory>
                <directory>./src/CartBundle/Resources</directory>
                <directory>./src/CartBundle/Tests</directory>
                <directory>./src/ReviewBundle/Resources</directory>
                <directory>./src/ReviewBundle/Tests</directory>
                <directory>./src/CatalogBundle/Resources</directory>
                <directory>./src/CatalogBundle/Tests</directory>
                <directory>./src/SetupBundle/Resources</directory>
                <directory>./src/SetupBundle/Tests</directory>
                <directory>./src/ExampleBundle/Resources</directory>
                <directory>./src/ExampleBundle/Tests</directory>
                <directory>./src/StateBundle/Resources</directory>
                <directory>./src/StateBundle/Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
