<button id="" class="add-to-bag-btn">
  <img class="bag-thumb" src="{{ asset('bundles/example/img/hand-bag-2-black.png') }}" alt="{{ 'cart.add'|trans([], 'catalog') }}">
  {{ 'cart.add'|trans([], 'catalog') }}
</button>
