{% extends "ExampleBundle::layout.html.twig" %}

{% block container %}
    <h1>success!</h1>
    <a href="{{ path('_ctp_example_order_toPaid', {'orderId': orderId}) }}"><button>Pay this order!</button></a> <br/><br/>

    <a href="{{ path('_ctp_example') }}"><button>Place a new order</button></a>
{% endblock %}
