/* REGULAR style */

.spacer{
    position: absolute;
    margin-left: 150px;
}

.clear{
    display: inline-block;
    line-height: 1em;
    overflow: hidden;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
a:hover{
    text-decoration: inherit;
}

/* MENU style*/

.menu{
    width: 100%;
    height: 100px;
    background: #fff;
    /*border-bottom: 1px solid #000;*/
}

.menu ul{
    font-size: 16px;
    padding: 25px;
    float: right;
}

.menu ul li{
    padding: 5px;
    display: inline-block;
    text-decoration: none;
}

.menu ul li:hover{
    color: #696969;
}

.menu ul li:last-child{
    border: 3px solid #000;
}

.menu ul li:last-child:hover{
    background: #e9e0e3;
}

.menu-logo{
    width: 250px;
    padding: 25px;
}

/* CONTENT style */
.content{
    padding: 30px;
    margin: 0 auto;
    width: 70%;
}

/* TABLE style */
table{
    width: 100%;
}

table tr td{
    width: 80%;
    word-wrap: break-word;
    text-align: left;
}

table tr .td{
    display: inline-block;
    margin-top: 2px;
}

.first-table{
    width: 20%;
    background: #fff;
}

.first-table, .second-table{
    display: inline-block;
}


.second-table{
    font-style: italic;
    background: #fbfbfb;
}


.table-40{
    width: 40%;
}
.table-20{
    width: 20%;
}


/*SEARCH form style */
.search{
    display: inline-block;
    width: 100%;
    height: auto;
}

#form_search{
    width: 85%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #000;
    /*background: #f5f5f5;*/
    z-index: 1;
}

#form_search:active{
    border: none;
    border-bottom: 0px solid #000;
}

#form_save{
    float: right;
    margin-top: -35px;
    width: 15%;
    min-width:50px;
    height: 35px;
    background: #fff;
    border: 1px solid #000;
    transition: 400ms;
    z-index: 3;
}

/* FORM BILLING & SHIPPING */
#form_save:hover{
    background: #7b7375;
}
#form_shippingAddress, #form_billingAddress{
    color: #a29a9c;
}

#form_shippingAddress input, #form_billingAddress input{
    padding: 2px;
    border: 0;
    border-bottom: 2px solid #000;
}

#form_billingAddress textarea, #form_shippingAddress textarea{
    border: 0;
    border-bottom: 2px solid #000;
    color: #000;
    padding: 5px;
}
#form_billingAddress textarea:focus, #form_shippingAddress textarea:focus{
    outline: none;
}
#form_shippingAddress input:focus, #form_billingAddress input:focus{
    outline: none;
}

#form_shippingAddress label, #form_billingAddress label{
    padding-right: 10px;
}

.required{
    color: darkred;
}

.error{
    background: #000;
}

label[for=form_check]{
    padding-right: 5px;
}

.form_text{
    display: block;
    width: 100%;
}

/* form shipping selector */

label[for=form_name_\*]{
    display: block;
    color: #fff;
}


/* Form addresses style */

#form_address input{
    border: 0;
    border-bottom: 2px solid #000;
    color: #000;
    padding: 5px;
}

#form_address input:focus{
    outline: none;
}

#form_address textarea{
    border: 0;
    border-bottom: 2px solid #000;
    color: #000;
    padding: 5px;
}

#form_address textarea:focus{
    outline: none;
}


/* Order page style */

.order-box{
    background: #F5F5F5;
    padding: 10px;
    border: 5px solid #fff;
}
.order-box h2{
    font-size: 16px;
}


/* live search function */

.ctp-img{
    width: 100px;
}

#search-results{
    width: 100%;
}

#search-results div:first-child{
    padding-left: 30px;
}

#search-results p, h3{
    /*text-align: center;*/
}

.search-container{
    border: 1px solid #000;
    width: 66%;
    min-height: 200px;
    height: auto;
    transition: 1s;
    position: absolute;
    display: none;
    z-index: 9998;
    background: rgba(255, 255, 255, 1);
}

.empty-result{
    color: #000;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100px;
    border-radius: 3px;
    text-align: center;
}

.loading{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: 9999;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* reviews */
.review-item{
    background-color:#ececec;
    margin:10px 0;
    border-bottom: 1px white dashed;
    padding:12px 0;
}
.review-author{
    color: #999;
    font-style: italic;
}
