{% extends "ExampleBundle::layout.html.twig" %}

{% block container %}
    <div class="form-group">
        {{ form_start(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

