<div class="search-not-found-title">
  <div class="search-results-title">{{ 'searchNotFound.title'|trans([], 'no-search-result') }}</div>
  <div class="search-results">{{ 'searchNotFound.notFound'|trans([], 'no-search-result') }}</div>
  <hr class="search-not-found-hr">
</div>
<div class="not-found-keyword">'{{ 'searchNotFound.keyword'|trans([], 'no-search-result') }}'</div>
<div class="not-found-description-wrapper">
  <div class="not-found-description">{{ 'searchNotFound.description'|trans([], 'no-search-result') }}</div>
</div>
<hr class="search-not-found-hr-bottom">
