<div class="store-location-wrapper">
  {% include '@Example/partials/catalog/reserve/map.html.twig' %}
  <div class="addresses">
    <ul class="list">
      {% include '@Example/partials/catalog/reserve/store.html.twig' %}
    </ul>
  </div>
</div>
