<div class="row">
    <div class="row text-uppercase hidden-xs cart-items-title">
        <div class="col-sm-6">
            <span>{{ 'common.description'|trans([], 'main') }}</span>
        </div>
        <div class="col-sm-2{% if not editable %} text-center{% endif %}">
            <span>{{ 'common.quantity'|trans([], 'main') }}</span>
        </div>
        <div class="col-sm-2 text-right">
            <span>{{ 'common.price'|trans([], 'main') }}</span>
        </div>
        <div class="col-sm-2 text-right">
            <span>{{ 'total'|trans([], 'checkout') }}</span>
        </div>
    </div>
</div>