/* REGULAR style */

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
a:hover{
    text-decoration: inherit;
}

/* MENU style*/

.menu{
    width: 100%;
    height: 100px;
    background: #fff;
    /*border-bottom: 1px solid #000;*/
}

.menu ul{
    font-size: 16px;
    padding: 25px;
    float: right;
}

.menu ul li{
    padding: 5px;
    display: inline-block;
    text-decoration: none;
}

.menu ul li:hover{
    color: #696969;
}

.menu ul li:last-child{
    border: 3px solid #000;
}

.menu ul li:last-child:hover{
    background: #e9e0e3;
}

.menu-logo{
    width: 250px;
    padding: 25px;
}

/* CONTENT style */
.content{
    padding: 30px;
    margin: 0 auto;
    width: 70%;
}

/* TABLE style */
table{
    width: 100%;
}

table tr td{
    width: 80%;
    word-wrap: break-word;
    text-align: left;
}

table tr .td{
    display: inline-block;
    margin-top: 2px;
}

.first-table{
    width: 20%;
    background: #fff;
}

.first-table, .second-table{
    display: inline-block;
}


.second-table{
    font-style: italic;
    background: #fbfbfb;
}


.table-40{
    width: 40%;
}
.table-20{
    width: 20%;
}
/*SEARCH form style */


.search{
    display: inline-block;
    width: 100%;
    height: auto;
}

#form_search{
    width: 85%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #000;
    /*background: #f5f5f5;*/
    z-index: 1;
}

#form_search:active{
    border: none;
    border-bottom: 0px solid #000;
}

#form_save{
    float: right;
    margin-top: -35px;
    width: 15%;
    min-width:50px;
    height: 35px;
    background: #fff;
    border: 1px solid #000;
    transition: 400ms;
    z-index: 3;
}

/* FORM BILLING & SHIPPING */
#form_save:hover{
    background: #7b7375;
}
#form_shippingAddress, #form_billingAddress{
    color: #a29a9c;
}

#form_shippingAddress input, #form_billingAddress input{
    border: 0;
    border-bottom: 2px solid #000;
}

#form_shippingAddress input:focus, #form_billingAddress input:focus{
    outline: none;
}

#form_shippingAddress label, #form_billingAddress label{
    padding-right: 10px;
}

.required{
    color: darkred;
}

.error{
    background: #000;
}

label[for=form_check]{
    padding-right: 5px;
}


/* form shipping selector */

label[for=form_name_*]{
    display: block;
    color: #fff;
}