<h4 class="home-suggestions-title">{{ 'suggestions.title' | trans([], 'cms') }}</h4>
<hr class="home-suggestions-hr"/>
<p class="home-suggestions-description">{{ 'suggestions.subtitle' | trans([], 'cms') }}</p>
<div class="row">
  {% include '@Example/partials/catalog/suggestions.html.twig' %}
</div>
