<div class="home-banner-option-one">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 nopadding banner-left">
        {% include '@Example/partials/catalog/home/banner-top-left.html.twig' %}
      </div>
      <div class="col-sm-6 nopadding banner-right">
        {% include '@Example/partials/catalog/home/banner-top-right.html.twig' %}
      </div>
    </div>
  </div>
</div>

<div class="home-banner-option-two">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 nopadding">
        {% include '@Example/partials/catalog/home/banner-middle.html.twig' %}
      </div>
    </div>
  </div>
</div>

<div class="home-banner-option-three">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 nopadding banner-left">
        {% include '@Example/partials/catalog/home/banner-bottom-left.html.twig' %}
      </div>
      <div class="col-sm-6 noppading banner-right">
        <div class="row">
          <div class="col-sm-6 nopadding">
            <div class="banner-xs-one">
              {% include '@Example/partials/catalog/home/banner-bottom-right-1.html.twig' %}
            </div>
          </div>
          <div class="col-sm-6 nopadding">
            <div class="banner-xs-two">
              {% include '@Example/partials/catalog/home/banner-bottom-right-2.html.twig' %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 nopadding">
            <div class="banner-sm">
              {% include '@Example/partials/catalog/home/banner-bottom-right-3.html.twig' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
