<ul class="list-inline text-right thankyou-buttons">
    <li><a href="{{ root.meta._links.continueShopping.href }}" class="thankyou-continue-shopping-btn">{{ 'continueShopping'|trans([], 'checkout') }}</a></li>
</ul>
