<div class="row">
    <div class="col-sm-6">
        <div>
            {{ form_row(form.submit, {'label' : 'continueCheckout'|trans([], 'checkout'), 'attr':{'class':'checkout-checkout-btn'}}) }}
        </div>
    </div>
</div>
