{% if enabled %}
    <a id="{{ id }}" href="{{ url }}">
      <span class="pull-right">
          <img src="{{ asset('bundles/example/img/edit-1.png') }}" class="checkout-summary-edit-icon" alt="">{{ 'form.edit'|trans([], 'main') }}
      </span>
    </a>
{% endif %}
