<div class="order-summary">
    <span class="text-uppercase order-summary-title">{{ 'orderSummary'|trans([], 'checkout') }}:</span>
    <span class="checkout-total-items">{{ 'itemsTotal'|trans({'items': cart.lineItems|length}, 'checkout') }}</span>
</div>
{% include '@Example/partials/checkout/checkout-item.html.twig' %}
