<div class="secure-payment">
    <span><img class="secure-payment-icon" src="{{ asset('bundles/example/img/credit-card-lock.png') }}" alt="secure payment"></span>
    <span class="text-uppercase secure-payment-title"></span>
</div>
