<div class="checkout-now {% if bottom %}checkout-now-bottom{% endif %}">
  <a href="{{ root.meta._links.checkout.href }}" class="pull-right text-uppercase checkout-now-btn" {% if id %}id="{{ id }}"{% endif %}>{{ 'common.checkout'|trans([], 'main') }}</a>
</div>