{% extends "@Example/layout.html.twig" %}

{% block container %}

    {% for message in app.flashes('error') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(formDetails) }}
    {% form_theme formDetails 'bootstrap_3_layout.html.twig' %}
    {{ form_widget(formDetails) }}
    {{ form_end(formDetails) }}

{% endblock %}
