{% for product in products %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        {% include '@Example/partials/catalog/product-thumbnail.html.twig' with {'index':loop.index0} %}
    </div>
{% endfor %}
