<p class="product-price">
  {% if product.masterVariant.price.discounted %}
  <span class="discounted-price">{{ product.masterVariant.price.discounted }}</span>
  {% endif %}
  <span>{{ product.masterVariant.price }}</span>
</p>
