<div id="forgot-password-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModal">
  <div class="modal-dialog">
    <div class="modal-content password-reset-modal-content">
      <div>
        <div class="forgotten-password-title">{{ 'forgotPasswordModal.title'|trans([], 'main') }}</div>
        <div class="forgotten-password-description">{{ 'forgotPasswordModal.description'|trans([], 'main') }}</div>
        <hr>
        <form id="" action="" method="post">
          <div class="forgot-password-input">
            <label for="password-reset-email">{{ 'form.email'|trans([], 'main') }}</label>
            <input type="text" name="password-reset-email" value="" required>
            <button id="password-reset-submit-btn">{{ 'form.submit'|trans([], 'main') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
