{% if content.messages %}
<div class="row">
	{% for messages_i in content.messages %}
   		<div class="alert alert-{{ messages_i.type }}">{{ messages_i.message }}</div>
	{% endfor %}
</div>
{% endif %}
