<!DOCTYPE html>
<html lang="en">

<head>
  {% include '@Example/partials/common/htmlhead.html.twig' %}
</head>

<body>
  <div class="darkbg hidden"></div>
  {% include '@Example/partials/common/header.html.twig' %}
    <div class="container">
      {% include '@Example/partials/common/messages.html.twig' %}
    {% include '@Example/partials/catalog/breadcrumb.html.twig' with {'breadcrumb':content.breadcrumb} %}
    {% include '@Example/partials/catalog/pop/search-not-found.html.twig' %}
    {% include '@Example/partials/catalog/pop/popular-search-phrases.html.twig' %}
    {% include '@Example/partials/catalog/suggestions.html.twig' %}
  </div>
  {% include '@Example/partials/common/footer.html.twig' %}
  {% include '@Example/partials/common/htmlscripts.html.twig' %}
</body>
</html>
